{% extends 'core/base.html' %}

{% load static %}

{% block main %}
<main>   
    <div class="container-fluid px-4">
                   
            <div style="height: 20vh"></div>
            
              <div class="bg"
            style="background-image: url('nails_factory\core\static\core\assets\img\fondo.png');  
            background-size: cover; 
            background-position: center; 
            height: 10vh;">  
                      
        <div class="d-flex flex-column justify-content-center 
                    align-items-center h-10 text-center text-white">                    
            <h1 class="display-2"
                style="font-weight: bold; color:black;">
                Hola!! Bienvenido a mi sitio
            </h1>
            <h2 class="display-10"
                style="font-weight: bold; color:blue;">
                <b>Soy Facundo Collado...</b>               
            </h2>            
        </div>
        <p class="masthead-subheading font-weight-light text-center ">
            <p class="masthead-subheading font-weight-light text-center ">Me dedico hace bastante tiempo al area de IT, siempre en roles de Analista, ya sea Funcional o QA..</p>
            <p class="masthead-subheading font-weight-light text-center ">Con la necesidad de actualizarme respecto a las tecnologias que ofrece el mercado, decidí emprender con Python.</p>
            <p class="masthead-subheading font-weight-light text-center ">Este primer <strong>SITIO</strong>, no es un Blog. Sino, mas bien, un lugar que permite administrar los servicios que realiza
                un salon de Manicuría, como asi poder obtener estadisticas</p>
            <p class="masthead-subheading font-weight-light text-center ">Como cualquier aplicacion que recíen nace, el <strong>SITIO</strong> irá evolucacionando con el tiempo.</p>
                   
    </div>        
    </div>
</main>
    {% endblock main %}